/* Roboto */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('/app/assets/fonts/roboto/roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/app/assets/fonts/roboto/roboto-regular.woff') format('woff'), /* Modern Browsers */
         url('/app/assets/fonts/roboto/roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/app/assets/fonts/roboto/roboto-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }